#box{
    height: 100px;
    width: 100px;
    background-color: blue;
}

@media (max-width: 600px) and (min-width: 400px){
    #box{
        background-color: red;
    }
}
@media (max-width: 400px) and (min-width: 300px){
    #box{
        background-color: pink;
    }
}
@media (max-width: 300px){
    #box{
        background-color: green;
    }
}